 <%= render "nav" %>
 <div class="content">
    <!-- <img src="https://images.pexels.com/photos/103567/pexels-photo-103567.jpeg"> -->
    <h1 class="display-2 text-light locationName"><%= @locationName %></h1>
    <h1 class="text-light temperature">ddd</h1>
    
</div>
<div class="day row text-center text-light">
    <div class="col bg-dark ">
       <p>rr</p>
       <p>rr</p>
       <p>rr</p>
    </div>
    <div class="col bg-success">
       <p>rr</p>
       <p>rr</p>
       <p>rr</p>
    </div>
    <div class="col bg-dark">
       <p>rr</p>
       <p>rr</p>
       <p>rr</p>
    </div>
    <div class="col bg-success">
       <p>rr</p>
       <p>rr</p>
       <p>rr</p>
    </div>
    <div class="col bg-dark">
       <p>rr</p>
       <p>rr</p>
       <p>rr</p>
    </div>
    <div class="col bg-success">
       <p>rr</p>
       <p>rr</p>
       <p>rr</p>
    </div>
</div>