.page{
    height:100vh;
}
.content{
    height: 60%;
    padding-top: 200px;
    text-align:center;
    background: url('https://images.pexels.com/photos/103567/pexels-photo-103567.jpeg') no-repeat center / cover;

   .locationName{
        display:block;
        vertical-align:middle;
        text-shadow: 2px 2px 4px #000000;
    }
    .temperature{
        display:inline-block;
        vertical-align:left;
        text-shadow: 2px 2px 4px #000000;
    }
}
.day{
    height: 30%;
}
